/*
UAZ StyleSheets
*/

/* Einrückung optionale Felder */

div#field-form-person-field-vehearbeitsv div.widget {
  margin-left: 4em;
}    

div#field-form-person-field-vehebis div.widget, 
div#field-form-person-field-veheentgeltbis div.widget,
div#form-widgets-unfuname-row div.widget, 
div#field-form-basic-field-unfustrasse div.widget, 
div#field-form-basic-field-unfunr div.widget, 
div#field-form-basic-field-unfuplz div.widget, 
div#field-form-basic-field-unfuort div.widget {
  margin-left: 6em;
}


/* Unterschiedliche Feldlängen */

#form-accidenti-field-unfdatum,
#form-person-field-veheentgeltbis,
#form-person-field-vehebis,
#form-person-field-prsgeb {
 width: 7em;
}

#form-job-field-uadst {
 width: 5em;
}

#form-accidentii-field-uadbavon,
#form-accidentii-field-uadbabis,
#form-accidenti-field-uadbavon,
#form-accidenti-field-uadbabis,
#form-accidenti-field-unfzeit,
#form-basic-field-unfunr,
#form-basic-field-unfuplz,
#form-person-field-iknr,
#form-person-field-ikzplz {
 width: 4em;
}

#form-widgets-unfefz {
 width: 2em;
}

/* Längere Beschreibung der options in select */

.input-form .step .row .option label {
  width: 34em;
}

/* Nicer Form */

.input-form .step .row  {
  clear: both;
  margin: 0.5em;
  padding-top: 0.6em;
}

.input-form .step .row label {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  width: 250px
}

.input-form .step .widget {
  float: left;
  margin-left: 2em;
}

.input-form .step .row label span.small {
  text-align: right;
  width: 250px;
  margin: 0 0 0 0px;
}

/* Progress */

#page-body .wizardMenu span {
  color:#B0B1B3;
  padding:10px;
}

#page-body .wizardMenu .selected {
  color:#000000;
}
