/*
UAZ StyleSheets
*/

/* Einrückung optionale Felder */

div#form-widgets-vehearbeitsv-row div.widget {
  margin-left: 4em;
}    

div#form-widgets-vehebis-row div.widget, 
div#form-widgets-veheentgeltbis-row div.widget,
div#form-widgets-unfuname-row div.widget, 
div#field-form-basic-field-unfustrasse div.widget, 
div#field-form-basic-field-unfunr div.widget, 
div#field-form-basic-field-unfuplz div.widget, 
div#field-form-basic-field-unfuort div.widget {
  margin-left: 6em;
}


/* Unterschiedliche Feldlängen */

#form-widgets-unfdatum,
#form-widgets-veheentgeltbis,
#form-widgets-vehebis,
#form-widgets-prsgeb {
 width: 7em;
}

#form-widgets-uadst {
 width: 5em;
}

#form-widgets-uadbavon,
#form-widgets-uadbabis,
#form-widgets-unfzeit,
#form-widgets-iknr,
#form-basic-field-unfunr,
#form-basic-field-unfuplz,
#form-widgets-ikzplz {
 width: 4em;
}

#form-widgets-unfefz {
 width: 2em;
}

/* Längere Beschreibung der options in select */

.input-form .step .row .option label {
  width: 34em;
}

/* Nicer Form */

.input-form .step .row  {
  clear: both;
  margin: 0.5em;
  padding-top: 0.6em;
}

.input-form .step .row label {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  width: 250px
}

.input-form .step .widget {
  float: left;
  margin-left: 2em;
}

.input-form .step .row label span.small {
  text-align: right;
  width: 250px;
  margin: 0 0 0 0px;
}

/* Progress */

#page-body .wizardMenu span {
  color:#B0B1B3;
  padding:10px;
}

#page-body .wizardMenu .selected {
  color:#000000;
}
