/*
UAZ StyleSheets
*/

/* Einrückung optionale Felder */

div#field-form-accidentii-field-unfae1 div.widget,
div#field-form-person-field-vehearbeitsv div.widget {
  margin-left: 5em;
}    

div#field-form-accidentii-field-unfaedatum div.widget,
div#field-form-accidentii-field-unfwa1 div.widget,
div#field-form-person-field-vehebis div.widget, 
div#field-form-person-field-veheentgeltbis div.widget,
div#form-widgets-unfuname-row div.widget, 
div#field-form-basic-field-unfustrasse div.widget, 
div#field-form-basic-field-unfunr div.widget, 
div#field-form-basic-field-unfuplz div.widget, 
div#field-form-basic-field-unfuort div.widget {
  margin-left: 6em;
}

div#field-form-accidentii-field-unfwax div.widget {
  margin-left: 8em;
}

/* Unterschiedliche Feldlängen */

#form-accidentii-field-unfwax,
#form-accidentii-field-unfwa1,
#form-accidentii-field-unfaedatum,
#form-accidenti-field-unfdatum,
#form-person-field-veheentgeltbis,
#form-person-field-vehebis,
#form-person-field-prsgeb {
 width: 8em;
}

#form-job-field-uadst {
 width: 7em;
}

#form-accidentii-field-unfaezeit,
#form-accidentii-field-uadbavon,
#form-accidentii-field-uadbabis,
#form-accidenti-field-uadbavon,
#form-accidenti-field-uadbabis,
#form-accidenti-field-unfzeit,
#form-basic-field-unfunr,
#form-basic-field-unfuplz,
#form-person-field-iknr,
#form-person-field-ikzplz {
 width: 6em;
}

#form-person-field-unfefz {
 width: 5em;
}

/* Längere Beschreibung der options in select */

.input-form .step .row .option label {
  width: 34em;
}

/*
div#accordion h3 {
  border-left: none;
  padding-left: 25px;
  width: 500px;
}

div.ui-accordion-content {
  width: 462px;
}
*/

/* Nicer Form */

.input-form .step .row  {
  clear: both;
  margin: 0.5em;
  padding-top: 0.6em;
}

.input-form .step .row label {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  width: 250px
}

.input-form .step .widget {
  float: left;
  margin-left: 2em;
}

.input-form .step .row label span.small {
  text-align: right;
  width: 250px;
  margin: 0 0 0 0px;
}

/* Progress */

#page-body ul.wizard-steps {
 border:1px dashed #DDDDDD;
 clear:both;
 display:inline;
 float:right;
 margin-top:-1em;
 text-align:right;
}

#page-body form fieldset {
 width: 98%

}

#page-body ul.wizard-steps li {
     list-style-type:decimal;
}

#page-body .wizard-steps .previous {
 color: #8cb97c;
 text-decoration: none;
}
#page-body .wizard-steps .current {
 color: #5e90ac;
 font-weight: bold;
}
#page-body .wizard-steps .next {
 color: #cd3d3d;
}

div .input-form .row_error {
  background: 50% white;
  border:1px solid #DDDDDD;
}

/*
#accordion table {
 border: 0px;
}

#accordion table td {
  border: none;  
}

#accordion table th {
  text-align: right;
  padding-right: 2em;
  width: 40%;
  font-weight: bold;
  font-size: 14px;
  border-style: none;
}


.accordion-body {
display: none;
}
.accordion-group .in {
display: block;
}
h2 {
    color: #5F789D;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 12px 0 8px;
}
*/

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: 0px !important;
}
